.detailsWrapper {
  margin: 120px 300px 750px 300px;
  position: relative;
}

.back {
  background-color: var(--color-primary-200);
  padding: 5px 30px;
  border-radius: 5px;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 500;
}

.background {
  margin-top: var(--gap-40);
  border-radius: 7px;
  height: 400px;
}

.detailsCard {
  box-shadow: var(--shadow);
  border-radius: 7px;
  background-color: var(--color-white);
  padding: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 305px;
}

.pokemon {
  width: 250px;
  padding: 30px;
  background-color: var(--color-white-300);
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.content {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.mainInformations {
  display: flex;
  align-items: center;
}

.mainInformations h2 {
  font-weight: 600;
  color: var(--color-dark);
  font-size: var(--gap-32);
  padding-right: 5px;
}

/* Types */

.bug {
  background-color: var(--bug-background);
}

.bug + div img:first-child {
  background-color: var(--bug);
}

.grass {
  background-color: var(--grass-background);
}

.grass + div img:first-child {
  background-color: var(--grass);
}

.fire {
  background-color: var(--fire-background);
}

.fire + div img:first-child {
  background-color: var(--fire);
}

.water {
  background-color: var(--water-background);
}

.water + div img:first-child {
  background-color: var(--water);
}

.psychic {
  background-color: var(--psychic-background);
}

.psychic + div img:first-child {
  background-color: var(--psychic);
}

.poison {
  background-color: var(--poison-background);
}

.poison + div img:first-child {
  background-color: var(--poison);
}

.fairy {
  background-color: var(--fairy-background);
}

.fairy + div img:first-child {
  background-color: var(--fairy);
}

.eletric {
  background-color: var(--eletric-background);
}

.eletric + div img:first-child {
  background-color: var(--eletric);
}

.fighting {
  background-color: var(--fighting-background);
}

.fighting + div img:first-child {
  background-color: var(--fighting);
}

.ground {
  background-color: var(--ground-background);
}

.ground + div img:first-child {
  background-color: var(--ground);
}

.normal {
  background-color: var(--normal-background);
}

.normal + div img:first-child {
  background-color: var(--normal);
}
